@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic,500italic);



@font-face {
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('fonts/MyriadPro-Regular.eot?') format('eot'), 
	     url('fonts/MyriadPro-Regular.otf')  format('opentype'),
	     url('fonts/MyriadPro-Regular.woff') format('woff'), 
	     url('fonts/MyriadPro-Regular.ttf')  format('truetype'),
	     url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic,500italic')
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
  	border: 0;
	margin: 0;
	padding: 0;
	color: #333333;
	font-size: 14px;
    font-family: 'Roboto', sans-serif;
	/*background: linear-gradient(#364346, white);*/
    background: linear-gradient(#698388, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.postCreated {
    font-size: 1em;
}

.authorDateTime{
    /*color: #9d9d9d;*/
    font-size: 1em;
}

.postTitle {
    font-size: 2em;
    color: black;
}

.postTitle a {
    color: black;
}

.postTitle a:hover {
    text-decoration: underline;
}

.postTitleBlock {
    display: inline-block;
    color: #222;
    /*background-color: #222;*/
    /*border-radius: 5px 5px 5px 5px;*/
    padding: 5px;
    width: 768px;
}

.archiveCreate {
    font-size: 1em;
    text-align: center;
}

.blogTitle {
    font-size: 3em;
}

#postMedia {
    max-height: 384px;
}

.postBody {
    max-width: 768px;
    font-size: 1.2em;
}

.readMore {
    display: inline;
    font-size: 1.2em;
}

